n8n-auto-builder.json
{
  "name": "webdo24 — Auto Web Builder v2 (Direct Deploy)",
  "nodes": [

    {
      "id": "wd24-v2-01",
      "name": "Webhook — Příchozí objednávka",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "webdo24-order",
        "responseMode": "onReceived",
        "options": {}
      },
      "webhookId": "webdo24-auto-builder-v2"
    },

    {
      "id": "wd24-v2-02",
      "name": "Set — Normalizace dat",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300],
      "parameters": {
        "values": {
          "string": [
            { "name": "companyName",  "value": "={{ $json.body.companyName }}" },
            { "name": "email",        "value": "={{ $json.body.email }}" },
            { "name": "phone",        "value": "={{ $json.body.phone }}" },
            { "name": "goal",         "value": "={{ $json.body.goal || 'leads' }}" },
            { "name": "tone",         "value": "={{ $json.body.tone || 'professional' }}" },
            { "name": "industry",     "value": "={{ $json.body.industry || '' }}" },
            { "name": "servicesJson", "value": "={{ JSON.stringify($json.body.services || []) }}" },
            {
              "name": "slug",
              "value": "={{ $json.body.companyName.toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/^-+|-+$/g,'').substring(0,38) }}"
            },
            {
              "name": "repoName",
              "value": "={{ 'webdo24-' + $json.body.companyName.toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/^-+|-+$/g,'').substring(0,38) }}"
            }
          ]
        },
        "options": {}
      }
    },

    {
      "id": "wd24-v2-03",
      "name": "Code — Sestavit OpenAI request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "jsCode": "var d = $input.first().json;\nvar services = JSON.parse(d.servicesJson || '[]');\nvar sys = 'Jsi profesionalni cesky copywriter. Vytvor obsah webu pro ceskou firmu. Odpovidej POUZE validnim JSON objektem s temito klici: headline (hlavni nadpis hrdiny, 5-10 slov), subheadline (podnadpis, 15-25 slov), cta_text (text tlacitka vyzvy k akci, 2-5 slov), about (popis firmy, 30-50 slov), services_text (uvodni veta sekce sluzeb, 10-20 slov), faq (pole presne 3 objektu s klici question a answer, otazka 6-10 slov, odpoved 1-2 vety), footer_tagline (kraty slogan, 4-8 slov). Celý obsah v cestine. Ton: professional=serozni duveryhodny, modern=dynamicky svezi, aggressive=razantni primocary, luxury=premovy luxusni.';\nvar usr = 'Firma: ' + d.companyName + '. Obor: ' + (d.industry || 'obecny') + '. Cil webu: ' + d.goal + '. Ton komunikace: ' + d.tone + '. Sluzby: ' + d.servicesJson + '.';\nvar body = JSON.stringify({ model: 'gpt-4o-mini', response_format: { type: 'json_object' }, messages: [{ role: 'system', content: sys }, { role: 'user', content: usr }], temperature: 0.7, max_tokens: 1200 });\nreturn [{ json: { companyName: d.companyName, email: d.email, phone: d.phone, goal: d.goal, tone: d.tone, industry: d.industry, slug: d.slug, repoName: d.repoName, services: services, openaiBody: body } }];"
      }
    },

    {
      "id": "wd24-v2-04",
      "name": "HTTP — OpenAI GPT-4o-mini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer OPENAI_API_KEY" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.openaiBody }}",
        "options": {}
      }
    },

    {
      "id": "wd24-v2-05",
      "name": "Code — Sestav soubory webu",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300],
      "parameters": {
        "jsCode": "var q = String.fromCharCode(34);\nvar form = $('Code \u2014 Sestavit OpenAI request').first().json;\nvar aiRaw = $json.choices[0].message.content;\nvar ai;\ntry { ai = JSON.parse(aiRaw); } catch(e) {\n  ai = { headline: form.companyName, subheadline: 'Profesionalni sluzby pro vase zakazniky.', cta_text: 'Kontaktujte nas', about: 'Jsme spolehliwa firma s dlouholetou tradici v oboru.', services_text: 'Nabizime kvalitni reseni prizpusobena vasim potrebam.', faq: [{ question: 'Jak vas mohu kontaktovat?', answer: 'Zavolejte nam nebo napiste email, odpovidame do 24 hodin.' }, { question: 'Kde pusobite?', answer: 'Pusobime po cele Ceske republice.' }, { question: 'Jak rychle praci realizujete?', answer: 'Standardni zakazku realizujeme do 2-3 tydnu.' }], footer_tagline: 'Vas spolehlivy partner.' };\n}\nvar c = form.companyName, email = form.email, phone = form.phone, slug = form.slug, rn = form.repoName;\nvar services = Array.isArray(form.services) ? form.services : [];\nvar faqItems = Array.isArray(ai.faq) ? ai.faq : [];\nvar year = String(new Date().getFullYear());\nvar css = '*{margin:0;padding:0;box-sizing:border-box}body{font-family:system-ui,-apple-system,sans-serif;color:#111827;line-height:1.6}a{text-decoration:none;color:inherit}.container{max-width:1100px;margin:0 auto;padding:0 1.5rem}nav{position:sticky;top:0;z-index:99;background:#fff;border-bottom:1px solid #f3f4f6;padding:.75rem 0}.nav-inner{display:flex;align-items:center;justify-content:space-between}.nav-logo{font-weight:900;font-size:1.1rem}.nav-cta{background:#22c55e;color:#fff;padding:.5rem 1.25rem;border-radius:9999px;font-weight:600;font-size:.9rem;transition:.2s}.nav-cta:hover{background:#16a34a}.hero{padding:6rem 1.5rem 4rem;text-align:center;background:linear-gradient(135deg,#f0fdf4 0%,#fff 60%)}.hero-tag{color:#16a34a;font-size:.75rem;letter-spacing:.15em;text-transform:uppercase;font-weight:600;margin-bottom:1.2rem}h1{font-size:clamp(2rem,5vw,3.5rem);font-weight:900;line-height:1.15;max-width:800px;margin:0 auto 1.5rem}.hero-sub{font-size:1.1rem;color:#6b7280;max-width:560px;margin:0 auto 2.5rem}.btn{display:inline-block;background:#22c55e;color:#fff;font-weight:700;font-size:1.05rem;padding:1rem 2.5rem;border-radius:9999px;transition:.2s}.btn:hover{background:#16a34a}section{padding:5rem 1.5rem}h2{font-size:1.9rem;font-weight:900;text-align:center;margin-bottom:.75rem}.sec-sub{color:#6b7280;text-align:center;max-width:540px;margin:0 auto 3rem}.svc-grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(200px,1fr));gap:1.5rem;max-width:960px;margin:0 auto}.svc-card{background:#f9fafb;border:1px solid #e5e7eb;border-radius:1rem;padding:1.5rem;transition:.2s}.svc-card:hover{border-color:#22c55e}.svc-icon{width:2.5rem;height:2.5rem;background:#dcfce7;border-radius:.75rem;display:flex;align-items:center;justify-content:center;margin-bottom:1rem;font-size:1.1rem}.svc-name{font-weight:700;font-size:.95rem}.about-sec{background:#f9fafb}.about-in{max-width:700px;margin:0 auto;text-align:center}.about-in p{color:#6b7280;line-height:1.85}.faq-list{max-width:700px;margin:0 auto}.faq-item{border-bottom:1px solid #e5e7eb}.faq-btn{width:100%;background:none;border:none;text-align:left;padding:1.2rem 0;font-size:1rem;font-weight:600;cursor:pointer;display:flex;justify-content:space-between;align-items:center;color:#111}.faq-ico{color:#22c55e;font-size:1.3rem;transition:.3s;display:inline-block;line-height:1}.faq-btn.open .faq-ico{transform:rotate(45deg)}.faq-ans{max-height:0;overflow:hidden;transition:.3s;color:#6b7280;line-height:1.75;font-size:.95rem}.faq-ans.open{max-height:300px;padding-bottom:1.2rem}.contact-sec{background:linear-gradient(135deg,#f0fdf4,#fff);text-align:center}.contact-box{max-width:460px;margin:0 auto}.contact-phone{font-size:2rem;font-weight:900;color:#22c55e;margin:1.5rem 0 .5rem}.contact-email{color:#6b7280}footer{padding:2rem 1.5rem;border-top:1px solid #f3f4f6;text-align:center;font-size:.85rem;color:#9ca3af}footer a{color:#22c55e}';\nvar svcs = services.map(function(s){ return '<div class=' + q + 'svc-card' + q + '><div class=' + q + 'svc-icon' + q + '>&#10003;</div><p class=' + q + 'svc-name' + q + '>' + s + '</p></div>'; }).join('');\nif(!svcs) svcs = '<div class=' + q + 'svc-card' + q + '><div class=' + q + 'svc-icon' + q + '>&#10003;</div><p class=' + q + 'svc-name' + q + '>Odborne sluzby</p></div>';\nvar faqHtml = faqItems.map(function(f){ return '<div class=' + q + 'faq-item' + q + '><button class=' + q + 'faq-btn' + q + ' onclick=' + q + 'tFaq(this)' + q + '>' + f.question + ' <span class=' + q + 'faq-ico' + q + '>+</span></button><div class=' + q + 'faq-ans' + q + '>' + f.answer + '</div></div>'; }).join('');\nif(!faqHtml) faqHtml = '<p>Kontaktujte nas s jakymkoliv dotazem.</p>';\nvar html = '<!DOCTYPE html><html lang=' + q + 'cs' + q + '><head><meta charset=' + q + 'UTF-8' + q + '><meta name=' + q + 'viewport' + q + ' content=' + q + 'width=device-width,initial-scale=1.0' + q + '><title>' + c + '</title><link rel=' + q + 'stylesheet' + q + ' href=' + q + 'style.css' + q + '></head><body>';\nhtml += '<nav><div class=' + q + 'container nav-inner' + q + '><span class=' + q + 'nav-logo' + q + '>' + c + '</span><a href=' + q + '#kontakt' + q + ' class=' + q + 'nav-cta js-scroll' + q + '>' + ai.cta_text + '</a></div></nav>';\nhtml += '<section class=' + q + 'hero' + q + '><p class=' + q + 'hero-tag' + q + '>' + c + '</p><h1>' + ai.headline + '</h1><p class=' + q + 'hero-sub' + q + '>' + ai.subheadline + '</p><a href=' + q + '#kontakt' + q + ' class=' + q + 'btn js-scroll' + q + '>' + ai.cta_text + '</a></section>';\nhtml += '<section><div class=' + q + 'container' + q + '><h2>Co nabizime</h2><p class=' + q + 'sec-sub' + q + '>' + ai.services_text + '</p><div class=' + q + 'svc-grid' + q + '>' + svcs + '</div></div></section>';\nhtml += '<section class=' + q + 'about-sec' + q + '><div class=' + q + 'container' + q + '><div class=' + q + 'about-in' + q + '><h2>O nas</h2><p>' + ai.about + '</p></div></div></section>';\nhtml += '<section><div class=' + q + 'container' + q + '><h2>Caste dotazy</h2><div class=' + q + 'faq-list' + q + '>' + faqHtml + '</div></div></section>';\nhtml += '<section class=' + q + 'contact-sec' + q + ' id=' + q + 'kontakt' + q + '><div class=' + q + 'contact-box' + q + '><h2>Kontaktujte nas</h2><p class=' + q + 'contact-phone' + q + '>' + phone + '</p><p class=' + q + 'contact-email' + q + '>' + email + '</p></div></section>';\nhtml += '<footer><div class=' + q + 'container' + q + '><p>&#169; ' + year + ' ' + c + '. ' + ai.footer_tagline + '</p><p>Web vytvor\u011bn p\u0159es <a href=' + q + 'https://webdo24.cz' + q + '>webdo24.cz</a></p></div></footer>';\nhtml += '<script src=' + q + 'script.js' + q + '></script></body></html>';\nvar js = 'function tFaq(btn){var a=btn.nextElementSibling,o=a.classList.contains(' + q + 'open' + q + ');document.querySelectorAll(' + q + '.faq-btn' + q + ').forEach(function(b){b.classList.remove(' + q + 'open' + q + ')});document.querySelectorAll(' + q + '.faq-ans' + q + ').forEach(function(b){b.classList.remove(' + q + 'open' + q + ')});if(!o){btn.classList.add(' + q + 'open' + q + ');a.classList.add(' + q + 'open' + q + ');}}';\njs += 'document.querySelectorAll(' + q + '.js-scroll' + q + ').forEach(function(el){el.addEventListener(' + q + 'click' + q + ',function(e){e.preventDefault();var t=document.querySelector(this.getAttribute(' + q + 'href' + q + '));if(t)t.scrollIntoView({behavior:' + q + 'smooth' + q + ',block:' + q + 'start' + q + '});});});';\nvar vc = JSON.stringify({ version: 2 });\nvar db = JSON.stringify({ name: rn, files: [{ file: 'index.html', data: html, encoding: 'utf-8' }, { file: 'style.css', data: css, encoding: 'utf-8' }, { file: 'script.js', data: js, encoding: 'utf-8' }, { file: 'vercel.json', data: vc, encoding: 'utf-8' }], target: 'production', projectSettings: { framework: null } });\nreturn [{ json: { companyName: c, email: email, phone: phone, slug: slug, repoName: rn, htmlBase64: Buffer.from(html).toString('base64'), cssBase64: Buffer.from(css).toString('base64'), jsBase64: Buffer.from(js).toString('base64'), vercelJsonBase64: Buffer.from(vc).toString('base64'), deployBody: db, siteUrl: 'https://' + rn + '.vercel.app' } }];"
      }
    },

    {
      "id": "wd24-v2-06",
      "name": "HTTP — GitHub vytvoř repozitář",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/user/repos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization",       "value": "Bearer GITHUB_TOKEN" },
            { "name": "Accept",              "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version","value": "2022-11-28" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ name: $('Code \u2014 Sestav soubory webu').first().json.repoName, description: 'Web pro ' + $('Code \u2014 Sestav soubory webu').first().json.companyName + ' \u2014 webdo24.cz', private: false, auto_init: true }) }}",
        "options": {}
      }
    },

    {
      "id": "wd24-v2-07",
      "name": "Wait — Inicializace repozitáře",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1560, 300],
      "parameters": {
        "resume": "timeInterval",
        "amount": 4,
        "unit": "seconds"
      }
    },

    {
      "id": "wd24-v2-08",
      "name": "HTTP — GitHub nahraj index.html",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 300],
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/GITHUB_OWNER/{{ $('Code \u2014 Sestav soubory webu').first().json.repoName }}/contents/index.html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer GITHUB_TOKEN" },
            { "name": "Accept",        "value": "application/vnd.github.v3+json" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ message: 'Add index.html', content: $('Code \u2014 Sestav soubory webu').first().json.htmlBase64, branch: 'main' }) }}",
        "options": {}
      }
    },

    {
      "id": "wd24-v2-09",
      "name": "HTTP — GitHub nahraj style.css",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 300],
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/GITHUB_OWNER/{{ $('Code \u2014 Sestav soubory webu').first().json.repoName }}/contents/style.css",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer GITHUB_TOKEN" },
            { "name": "Accept",        "value": "application/vnd.github.v3+json" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ message: 'Add style.css', content: $('Code \u2014 Sestav soubory webu').first().json.cssBase64, branch: 'main' }) }}",
        "options": {}
      }
    },

    {
      "id": "wd24-v2-10",
      "name": "HTTP — GitHub nahraj script.js",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 300],
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/GITHUB_OWNER/{{ $('Code \u2014 Sestav soubory webu').first().json.repoName }}/contents/script.js",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer GITHUB_TOKEN" },
            { "name": "Accept",        "value": "application/vnd.github.v3+json" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ message: 'Add script.js', content: $('Code \u2014 Sestav soubory webu').first().json.jsBase64, branch: 'main' }) }}",
        "options": {}
      }
    },

    {
      "id": "wd24-v2-11",
      "name": "HTTP — GitHub nahraj vercel.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 300],
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/GITHUB_OWNER/{{ $('Code \u2014 Sestav soubory webu').first().json.repoName }}/contents/vercel.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer GITHUB_TOKEN" },
            { "name": "Accept",        "value": "application/vnd.github.v3+json" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ message: 'Add vercel.json', content: $('Code \u2014 Sestav soubory webu').first().json.vercelJsonBase64, branch: 'main' }) }}",
        "options": {}
      }
    },

    {
      "id": "wd24-v2-12",
      "name": "HTTP — Vercel vytvoř projekt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2660, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.vercel.com/v9/projects",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer VERCEL_API_TOKEN" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ name: $('Code \u2014 Sestav soubory webu').first().json.repoName, framework: null }) }}",
        "options": {}
      }
    },

    {
      "id": "wd24-v2-13",
      "name": "HTTP — Vercel deploy přímý",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.vercel.com/v13/deployments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer VERCEL_API_TOKEN" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Code \u2014 Sestav soubory webu').first().json.deployBody }}",
        "options": {}
      }
    },

    {
      "id": "wd24-v2-14",
      "name": "Email — Notifikace zákazníkovi",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [3100, 300],
      "parameters": {
        "fromEmail": "EMAIL_USER",
        "toEmail": "EMAIL_TO",
        "subject": "=Váš web je připraven — {{ $('Code \u2014 Sestav soubory webu').first().json.companyName }}",
        "emailType": "html",
        "message": "=<div style='max-width:560px;margin:40px auto;font-family:system-ui,sans-serif;color:#111'><h1 style='font-size:1.8rem;font-weight:900;margin-bottom:1rem'>Váš web je živý!</h1><p style='color:#555;margin-bottom:1.5rem'>Dobrý den,<br>web pro firmu <strong>{{ $('Code \u2014 Sestav soubory webu').first().json.companyName }}</strong> byl automaticky vytvořen a nasazen.</p><div style='background:#f0fdf4;border:1px solid #bbf7d0;border-radius:1rem;padding:1.5rem;margin-bottom:1.5rem'><p style='font-size:.8rem;color:#16a34a;font-weight:600;letter-spacing:.1em;text-transform:uppercase;margin-bottom:.5rem'>URL webu</p><a href='{{ $('Code \u2014 Sestav soubory webu').first().json.siteUrl }}' style='font-size:1.2rem;font-weight:700;color:#15803d'>{{ $('Code \u2014 Sestav soubory webu').first().json.siteUrl }}</a></div><p style='color:#9ca3af;font-size:.85rem'>Web může být dostupný do 2 minut.<br>GitHub repo: github.com/GITHUB_OWNER/{{ $('Code \u2014 Sestav soubory webu').first().json.repoName }}</p><p style='margin-top:2rem;color:#d1d5db;font-size:.8rem'>webdo24.cz — weby vytvořené AI za 24 hodin</p></div>",
        "options": {}
      },
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP — webdo24"
        }
      }
    }

  ],

  "connections": {
    "Webhook — Příchozí objednávka": {
      "main": [[{ "node": "Set — Normalizace dat", "type": "main", "index": 0 }]]
    },
    "Set — Normalizace dat": {
      "main": [[{ "node": "Code — Sestavit OpenAI request", "type": "main", "index": 0 }]]
    },
    "Code — Sestavit OpenAI request": {
      "main": [[{ "node": "HTTP — OpenAI GPT-4o-mini", "type": "main", "index": 0 }]]
    },
    "HTTP — OpenAI GPT-4o-mini": {
      "main": [[{ "node": "Code — Sestav soubory webu", "type": "main", "index": 0 }]]
    },
    "Code — Sestav soubory webu": {
      "main": [[{ "node": "HTTP — GitHub vytvoř repozitář", "type": "main", "index": 0 }]]
    },
    "HTTP — GitHub vytvoř repozitář": {
      "main": [[{ "node": "Wait — Inicializace repozitáře", "type": "main", "index": 0 }]]
    },
    "Wait — Inicializace repozitáře": {
      "main": [[{ "node": "HTTP — GitHub nahraj index.html", "type": "main", "index": 0 }]]
    },
    "HTTP — GitHub nahraj index.html": {
      "main": [[{ "node": "HTTP — GitHub nahraj style.css", "type": "main", "index": 0 }]]
    },
    "HTTP — GitHub nahraj style.css": {
      "main": [[{ "node": "HTTP — GitHub nahraj script.js", "type": "main", "index": 0 }]]
    },
    "HTTP — GitHub nahraj script.js": {
      "main": [[{ "node": "HTTP — GitHub nahraj vercel.json", "type": "main", "index": 0 }]]
    },
    "HTTP — GitHub nahraj vercel.json": {
      "main": [[{ "node": "HTTP — Vercel vytvoř projekt", "type": "main", "index": 0 }]]
    },
    "HTTP — Vercel vytvoř projekt": {
      "main": [[{ "node": "HTTP — Vercel deploy přímý", "type": "main", "index": 0 }]]
    },
    "HTTP — Vercel deploy přímý": {
      "main": [[{ "node": "Email — Notifikace zákazníkovi", "type": "main", "index": 0 }]]
    }
  },

  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "pinData": {},
  "versionId": "2",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "local"
  },
  "tags": [
    { "name": "webdo24" },
    { "name": "auto-builder" },
    { "name": "direct-deploy" }
  ]
}
